* {
    /* border: dotted red; */
    box-sizing: border-box;
}
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #dbcdb5;
}

/* This section is for the home page */
.header-title {
    text-align: center;
    color: #5e3c2c;
    font-size: 40px;
}

.link-container {
    text-align: center;
}

.thumbnail {
    display: inline-block;
    border: 2px solid #5e3c2c;
    text-align: center;
    text-decoration: none;
    background-color: #5e3c2c;
    line-height: 30px;
    margin: 30px;
    width: 350px;
    height: 330px
    /* box-shadow: 5px 5px 10px add color here; */
}

.thumbnail-img {
    width: 346px;
    height: 300px;
    display: block;
}

/* This section is for the recipes */
.recipe-overview {
    border: 2px solid #5e3c2c;
    width: 1000px;
    height: 304px;
    margin: 50px auto;
    background-color: #5e3c2c;
    color: #e9b08e;
    
}

.food-picture {
    display: inline-block;
    width: 350px;
    height: 300px;
}

.food-overview {
    display: inline-block;
    vertical-align: top;
    width: 550px;
}

.recipe-title {
    margin-top: 0;
}

a {
    color: #e9b08e;
}

h3 {
    color: #5e3c2c;
}

li {
    color: #1f440a;
}

.button {
    display: block;
    background-color: #a4330d;
    text-decoration: none;
    margin: 20px auto;
    width: 200px;
    height: 20px;
    text-align: center;
}




 


