body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #dbcdb5;
}

.header-title,
.recipe-title {
    text-align: center;
    color: #5e3c2c;
    font-size: 55px;
}

.recipe-name {
    text-align: center;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    line-height: 4;
}

a {
    color: #a4330d;
}

.recipe-title {
    font-size: 45px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 500px;
}

h2,
h3,
.short-desc {
    text-align: center;
    color: #8d4122;
}

.short-desc {
    color: #1f440a;
}

li {
    color: #1f440a;
}




 


