* {
    /* border: dotted red; */
    box-sizing: border-box;
}
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #dbcdb5;
}

.header-title,
.recipe-title {
    text-align: center;
    color: #5e3c2c;
    font-size: 40px;
}

.link-container {
    text-align: center;
}

.thumbnail {
    display: inline-block;
    border: 2px solid #5e3c2c;
    text-align: center;
    text-decoration: none;
    background-color: #5e3c2c;
    line-height: 30px;
    margin: 30px;
    width: 350px;
    height: 330px
    /* box-shadow: 5px 5px 10px add color here; */
}

.thumbnail-img {
    width: 346px;
    height: 300px;
    display: block;
}

a {
    color: #e9b08e;
}

.recipe-title {
    font-size: 45px;
}

h2,
h3,
.short-desc {
    text-align: center;
    color: #8d4122;
}

.short-desc {
    color: #1f440a;
}

li {
    color: #1f440a;
}




 


